.heading{
    color:white;
    background-Color: blue;
} 

#AddHeader{
    background-color: green;
    color: white;
}

#list{
    background-color:#4ccac0;
}
.Theading{
    background-color:gray;
    margin:0px;
}

